@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    flex-direction: row;
}

.masthead {
    padding-top: calc(6rem);
    padding-bottom: 6rem;
}

.masthead-avatar {
    width: 15rem;
}

.subheading {
    font-size: 1.3rem;
    font-weight: light;
}

.page-section {
    padding: 6rem 0;
}

h2 {
    margin-bottom: 40px;
}

.img-rounded {
    border-radius: 16px;
}
footer {
    padding: 20px 0;
}

.navbar-collapse {
    justify-content: flex-end;
}
.bg-primary {
    background-color: #007bff;
    color: #FFF;
}
.bg-dark {
    background-color: #343a40;
    color: #FFF;
}

.bg-dark ul a {
    color: #FFF;
}

.top-bar ul {
    background-color: transparent;
}

.top-bar-section ul li {
    display: inline-block;
}